.contenedor-pag-todos {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.contenedor-titulo-todos {
    width: 50%;
}

.titulo-todos {
    color: white;
    margin-top: 80px;
    height: 10vh;

}


.pag-todos {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    border: solid rgb(146, 210, 247) 1px;
}

.contenedor-img-todos {
    width: 100%;
    height: 27vh;

    margin-top: 30px;
    margin-bottom: 30px;

}

.imagen-todos {
    width: 100%;
    height: 100%;
    border: solid rgb(175, 181, 184) 1px;
    border-radius: 5px;
}

.btn-todos {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #1e47e34f;
}

.btn-todos:hover {
    background-color: transparent;
}

@media (min-width: 320px) {
    .contenedor-pag-todos {
        justify-content: center;
        width: 100%;
    }

    .titulo-todos {
        display: flex;
        align-items: center;
        font-size: 18px;
        height: 5vh;


    }

    .contenedor-titulo-todos {
        width: 100vw;
        margin-left: 20px;
        display: flex;
        align-items: center;

    }

    .contenedor-img-todos {
        width: 90vw;
        height: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .pag-todos {
        width: 95vw;
        padding: 10px;

    }



}

@media (min-width: 640px) {
    .contenedor-img-todos {
        width: 70vw;

    }

    .contenedor-titulo-todos {
        margin-left: 95px;
    }

    .pag-todos {
        width: 85vw;

    }
}



@media (min-width: 768px) {
    .contenedor-img-todos {
        width: 45vw;
      

    }

    .contenedor-titulo-todos {
        margin-left: 38px;
    }

    .titulo-todos {
        display: flex;
        align-items: center;
    }

    .pag-todos {
        width: 95vw;

    }

}


@media (min-width: 1024px){
    .contenedor-img-todos {
        width: 45vw;
       

    }
    .contenedor-titulo-todos{
        margin-left: 55px;
    }
}

@media (min-width: 1440px) {
    .contenedor-img-todos {
        width: 20vw;
   

    }

    .pag-todos {
        width: 70vw;

    }

    .titulo-todos {
        display: flex;
        align-items: center;
    }

    .contenedor-titulo-todos {
        width: 72%;
        margin-left: 20px;

    }

}

@media (min-width: 320px) and (max-width: 910px) and (orientation: landscape) and (max-height: 480px) {

   .contenedor-img-todos{
    height: 80vh;
   } 
}