
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

header {
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: var(--amarillo);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

.imagFondo{
    
width: 100vw;
height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
url('./img/imagen_2.jpg') center center no-repeat;
background-size: cover;


}
.menuHorizontal{
    display: flex;                   
    align-items: center;           
    justify-content:center ;
    height: 6%; 
    background-color: rgb(37,31,31);                    
}
.menu{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content:  flex-end;
    
}
.menuItems{
    width: 100vh;
    display: flex;
    justify-content: space-around;
    

}
.listas{
    height: 28px;
    width: 159px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 18px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.listas:hover{
    background-color:rgb(166,175,184,0.3) ;
}

.imagContenedor{
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img{

    width: 180px;
    height: 180px;
    border: 2px  solid black ;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1)),
    url('./img/imagen_3.png') center center no-repeat;
    background-size: cover;
}

.nombre{
    color:rgb(248,248,248);
    font-size: 35px;
    font-family: 'Caveat', cursive;
    text-transform: capitalize;
    margin-top: 32px;

}
.descripcion{
    font-family: 'Caveat', cursive;
    color:rgb(248,248,248);
    font-size: 30px;
    margin-top: 10px;
}
.contenedorIconos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 17%;
}

.lineas{
    width: 41%;
    height: 69px;
}

.iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    
    
    
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color:rgb(255,255,255);
    border-radius: 100%;
    width: 6%;
    height: 87%;
     
}
.redes:hover{
    background-color:rgb(166,175,184,0.3) ;
}
.iconoSiguiente {
    
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.icono_siguiente{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
}
