*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
.contenedorProyectos_futuros{
    text-align: center;
    width: 100vw;
height: 112vh;
    background-color:rgb(26,29,33) ;
}
.tituloProyectos{
    color: white;
    padding-top: 31px;
    margin-bottom: 13px;
}
.menuProyecto{
    color: white;
    padding: 6px 18px;
    border-radius: 40px;
    text-decoration: none;

}
.menuProyecto:hover{
    background-color:rgb(166,175,184,0.3) ;
}
.contenedor_a{
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3px;
    
}
.Proyecto_futuros{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 77%;
    margin-top: 24px;
    
}
.cajaImagenes{
    width: 100vw;
    height: 83vh;
    display: flex;
    justify-content: center;
    
    
    
}
.fotos1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:60%;
    height: 100%;
}


.proyectoImagen{
    width: 30%;
    height: 34%;
    margin: 10px;
    animation: mover 40s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes mover{
    50%{
        transform: rotatex(360deg) rotatey(360deg) rotatey(360deg);
    }
}
@media(max-width:1200px){
    .fotos1{
        width:63%;

}

}
@media(max-width:1100px){
    .fotos1{
        width:70%;

    }
}
@media(max-width:1000px){
    .fotos1{
        width:78%;

    }
}
@media(max-width:900px){
    .fotos1{
        width:90%;

    }
}
@media(max-width:800px){
    .fotos1{
        width:94%;

    }
}
@media(max-width:700px){
    .fotos1{
        display: flex;
        

    }
}  
@media(max-width:637px){
    .proyectoImagen{
        width: 40%;
    }
    .fotos1{
        height: 83%;
        justify-content: center;

    }
}
@media(max-width:500px){
    .proyectoImagen{
        width:42%;

    }
} 
@media(max-width:400px){
    .proyectoImagen{
        width:42%;
        height:30%;
    }
}           
      