* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedorProyectos_futuros {
    text-align: center;
    width: 100vw;

    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.tituloProyectos {
    color: white;
    padding-top: 55px;
    margin-bottom: 55px;
}

.contenedor-link {
    display: flex;
    justify-content: center;
}

.link {
    width: 50%;
    display: flex;
    justify-content: space-around;

}


.menuProyecto {
    color: white;

    padding: 6px 12px;
    border-radius: 40px;
    background-color: #d5cdcd1f;
    text-decoration: none;
    margin: 0px 8px;


}

.menuProyecto:hover {
    background-color: rgb(166, 175, 184, 0.3);

}

.contenedor-carrusel {
    height: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-foco {
    width: 85%;
}

.carousel {
    width: 61vw;
    margin-right: 20px;

}

.proyectoImagen {
    width: 96%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 203, 203);
    border-radius: 34px;
    height: 43px;
    width: 43px;
}

@media (min-width: 390px) and (max-width: 767px) {

    .contenedor-carrusel {
        height: 67vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .imagen-foco {
        width: 85%;
        display: none;
    }

    .tituloProyectos {
        height: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    .carousel {
        width: 95vw;
        margin-right: -3px;
        margin-top: 27px;

    }

    .contenedor-link {
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: flex;
        justify-content: center;
        background-color: rgb(209, 203, 203);
        border-radius: 34px;
        height: 0px;
        width: 0px;
    }


}