@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: var(--amarillo);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

hr {
    color: white;
}

.imagFondo {



    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_2.jpg') center center no-repeat;
    background-size: cover;


}

.contenedor-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.menuItems {
    width: 100vh;
    display: flex;
    justify-content: space-around;


}

.listas {
    height: 28px;
    width: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.listas:hover {
    background-color: rgb(166, 175, 184, 0.3);
}

.imagContenedor {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.img {

    width: 180px;
    height: 180px;
    border: 2px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1)),
        url('./img/imagen_3.png') center center no-repeat;
    background-size: cover;
}

.nombre {
    color: rgb(248, 248, 248);
    font-size: 35px;
    font-family: 'Caveat', cursive;
    text-transform: capitalize;
    margin-top: 32px;

}

.descripcion {
    font-family: 'Caveat', cursive;
    color: rgb(248, 248, 248);
    font-size: 30px;
    margin-top: 10px;
}

.contenedorIconos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 17%;
}



.iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;




}


.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 20px;
    height: 87%;
    width: 43px;
    background: transparent;
    border: none;

}

.redes :hover {
    color: rgba(71, 72, 73, 0.808);
}


.iconoSiguiente {

    height: 19%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icono_siguiente {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
}



/* En tu archivo CSS */
.ancho-10 {
    width: 123px;
}

.ancho-11 {
    width: 140px;
}

@media (min-width: 320px) {
    .img {
        width: 123px;
        height: 123px;
    }

    .contenedor-hero {
        margin-top: 20%;
        margin-bottom: 20%;
        height: 80vh;
    }

    .iconos {
        width: 100vw;
    }

    .imagFondo {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contenedor-border {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        height: 65px;
        align-items: center;
        width: 100%;
    }

    .lineas {
        width: 95%;
    }
}

@media (min-width: 640px) {
    .contenedor-hero {
      
        margin-top: 20%;
    }
}

@media (min-width: 765px) {
    .contenedor-hero {

        margin-top: 15%;
    }
}


@media (min-width: 768px) {

    .contenedor-hero {
        margin-top: 5%;
        margin-bottom: 10%;
height: 85vh;
        justify-content: center;
    }

    .lineas {
        display: flex;
        justify-content: center;
    }

    .contenedor-border {
        width: 60vw;
    }
}
@media (min-width: 800px) {
    .contenedor-hero {

        margin-top: 14%;
    }
}
@media (min-width: 1024px) {
    .contenedor-hero {

        margin-top: 3%;
    }
}
@media (min-width:1440px) {
    .contenedor-hero {
        margin-top: 5%;
        margin-bottom: 45px;
    }

    .img {
        width: 180px;
        height: 180px;
    }

    .contenedorIconos {
        margin-top: 50px;
    }
}