@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: var(--amarillo);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

hr {
    color: white;
}

.imagFondo {



    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
        url('./img/hero.jpg')no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;


}

.contenedor-hero {
    position: relative;
    z-index: 1;
    padding: 100px 0;

}



.menuItems {
    width: 100vh;
    display: flex;
    justify-content: space-around;


}

.listas {
    height: 28px;
    width: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.listas:hover {
    background-color: rgb(166, 175, 184, 0.3);
}

.imagContenedor {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



.nombre {
    width: 63%;
    font-size: 65px;
    font-family: "Playfair Display", serif;
    font-weight: 600;

    margin-top: 32px;

    color: white;
}

.contenedor-descripcion {
    width: 90%;
    display: flex;
    justify-content: end;
}

.descripcion {


    font-family: "Playfair Display", serif;
    font-size: 65px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

.contenedorIconos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 17%;

}



.iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;




}

.contenedor-border {
    border-top: 1px solid rgba(9, 91, 232, 0.93);
    border-bottom: 1px solid rgba(9, 91, 232, 0.93);
    display: flex;
    height: 75px;
    align-items: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.352);
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    color: rgba(53, 119, 232, 0.93);
    border-radius: 20px;
    margin-right: 20px;
    height: 87%;
    width: 43px;
    background: transparent;
    border: none;

}

.redes :hover {
    color: rgba(71, 72, 73, 0.808);
}


.iconoSiguiente {

    height: 19%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icono_siguiente {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
}




.ancho-10 {
    width: 123px;
}

.ancho-11 {
    width: 140px;
}

@media (min-width: 320px) {

    .nombre {
        font-size: 28px;
    }

    .descripcion {
        font-size: 28px;
    }

    .contenedor-border {
        margin-top: 30%;
    }

    .redes {
        font-size: 35px;
    }

    .img {
        width: 123px;
        height: 123px;
    }

    .contenedor-hero {
        margin-top: 20%;
        margin-bottom: 20%;
        height: 80vh;
    }

    .iconos {
        width: 100vw;
    }

    .imagFondo {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }



    .lineas {
        width: 95%;
    }
}

@media (min-width: 640px) {
    .contenedor-hero {

        margin-top: 20%;
    }
}

.contenedorIconos {
    margin-top: 37%;
}

.contenedor-border {
    margin-top: 0%;
}

.imagContenedor {
    margin-top: 0%;
}




@media (min-width: 768px) {
    .nombre {
        font-size: 50px;

    }

    .descripcion {
        font-size: 50px;
    }

    .contenedorIconos {
        margin-top: 15%;
    }

    .contenedor-hero {
        margin-top: 5%;
        margin-bottom: 10%;
        height: 85vh;
        justify-content: center;
    }

    .lineas {
        display: flex;
        justify-content: center;
    }

    .contenedor-border {
        width: 60vw;
    }
}

@media (min-width: 800px) {
    .contenedor-hero {

        margin-top: 14%;
    }
}

@media (min-width: 1024px) {
    .contenedor-hero {

        margin-top: 3%;
    }
}

@media (min-width:1440px) {
    .contenedor-hero {
        margin-top: 5%;
        margin-bottom: 45px;
    }

    .img {
        width: 180px;
        height: 180px;
    }

    .contenedorIconos {
        margin-top: 144px;
    }
}

@media (min-width: 320px) and (max-width: 910px) and (orientation: landscape) and (max-height: 480px) {
    .contenedor-hero{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 30px;
    }
    .contenedorIconos{
        margin-top: 50px;
    }
}