 @import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&family=Inter:wght@300&family=Rosario:wght@300&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .contenedorFoto {

     display: flex;
     justify-content: center;
     background: linear-gradient(45deg, rgba(2, 0, 36, 0.963) 0%, rgba(9, 9, 121, 0.87) 35%, rgba(0, 213, 255, 0.304) 100%)
 }

 .darkMain {
     display: flex;
     justify-content: center;
     background: linear-gradient(90deg, rgba(0, 0, 0, 0.963) 0%, rgba(0, 0, 0, 0.833) 45%, rgba(0, 0, 0, 0.7)100%)
 }

 .img {

     width: 280px;
     height: 280px;
     border: 2px solid black;
     border-top: 2px solid white;
     border-bottom: 2px solid white;
     border-radius: 6%;
     background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1)),
         url('./img/img1.png') center center no-repeat;
     background-size: cover;
 }


 .imagenPrincipal {
     width: 40%;
     z-index: 1;


 }

 .caja {
     width: 39%;
     height: 305px;
     border: 7px solid white;

     bottom: 10px;
     right: 32%;
 }

 .contenedorDescripcion {
     width: 70%;
     height: 100vh;
     display: flex;
     align-items: center;

 }

 .descripcionMIa {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: 60%;
     height: 65%;
 }

 .titulo {
     color: rgba(255, 255, 255, 0.807);


 }

 .parrafo {




     color: rgba(255, 255, 255, 0.807);
 }

 .button {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 7px;
     width: 167px;
     height: 44px;
     color: #fff;
     padding: 5px 10px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s ease;
     position: relative;
     outline: none;
     border-radius: 20px;
     border: 2px solid #212529;
     background: #0044ffc2;
 }

 .button:hover {
     background: #adb7eb;
     color: #212529
 }

 .botonIcono {
     color: white;
     margin-right: 10px;
 }



 @media (min-width: 320px) {
     .img {
         width: 150px;
         height: 197px;
     }

     .contenedorFoto {
         display: flex;
         flex-direction: column;
     }

     .contenedorImagen_caja {
         display: flex;
         justify-content: center;
         margin-top: 85px;
         margin-bottom: 20px;
     }

     .contenedorDescripcion {

         width: 80%;
         margin-left: 10%;

     }
     .darkMain{
        flex-direction: column;
     }


     .caja {
         width: 45%;
         height: 240px;
         border: 7px solid white;

         bottom: 8px;
         right: 32%;
     }

     .descripcionMIa {
         height: auto;
         width: 100%;


     }

     .contenedorDescripcion {
         height: auto;
         margin-bottom: 20px;
     }

     .caja {

         padding-top: 10px;
         padding-bottom: 10px;

     }

     .imagenPrincipal {
         width: 100%;
         height: 100%;
         margin-left: 20px;
     }

     .botonParrafo {
         margin-bottom: 0px;
         font-size: 14px;
     }



 }

 @media (min-width: 640px) {
  
     .caja {
         width: 28%;
         height: 240px;

     }

     .img {
         width: 200px;
         height: 258px;
     }


 }

 @media (min-width: 765px) {
     .caja {
         width: 25%;
         height: 240px;

     }

 }

 @media (min-width: 768px) {
     .caja {
         width: 25%;
         height: 240px;

     }

     .contenedorImagen_caja {
         margin-top: 72px;
     }

 }

 @media (min-width: 1024px) {
     .contenedorImagen_caja {
         width: 40%;
         margin-top: 8%;
         justify-content: end;
     }
     .darkMain{
        flex-direction: row;
    }

     .caja {

         width: 80%;
         height: 340px;

     }

     .contenedorFoto {
         display: flex;
         flex-direction: row;
         height: 100vh;
     }

     .descripcionMIa {
         width: 90%;
         height: 80%;
     }

 }

 @media (min-width: 1440px) {
     .caja {
         width: 55%;
         height: 317px;

     }

     .descripcionMIa {
         height: 80vh;
         width: 80%;
     }

     .contenedorImagen_caja {
         margin-top: 6%;
     }


 }

 @media (min-width: 1500px) {
     .caja {
         width: 55%;
         height: 317px;

     }

     .descripcionMIa {
         height: 80vh;
     }

     .img {
         width: 280px;
         height: 370px;
     }


 }