* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedorSection {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_10.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;



    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor_titulo_section {
    width: 90%;
    height: 14%;
}

.titulo_section {
    font-family: 'Caveat', cursive;

    color: white;
    font-size: 34px;
}

.titulo_imagenes {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin-bottom: 3%;
}




.sectionExperiencia {
    width: 29%;
    height: 84vh;
    margin-left: 106px;
}



.imagenes_tecnologias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    


}

.imagenes_tecnologias_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;


}

.seccion_imagen {
    width: 10%;
    margin-bottom: 40px;
}
.imagen{
    width: 100%;
    height: 100%;
}

@media(max-width:769px){
.titulo_section{
    font-size: 30px;
    margin-top: 20px;
}
.titulo_imagenes{
    font-size: 30px;
}
.seccion_imagen{
    width: 15%;
}
}

@media(max-width:426px){
    .titulo_section{
        font-size: 30px;
        margin-top: 15px;
    }
    .titulo_imagenes{
        font-size: 30px;
        margin-top: 20px;
    }
    .seccion_imagen{
        width: 25%;
        margin-right: 20px;
    }
    
    
    }

