* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedorSection {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_10.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
  

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor_titulo_section{
    width: 90%;
    height: 14%;
}
.titulo_section {
    font-family: 'Caveat', cursive;
  
    color: white;
    font-size: 34px;
}

.titulo_imagenes {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin-bottom: 3%;
}

.titulo_imagenes1 {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 3% 3%;
}


.sectionExperiencia {
    width: 29%;
    height: 84vh;
    margin-left: 106px;
}

img {
    width: 13%;
}

.imagenes_tecnologias {

    display: flex;

    justify-content: space-around;


}

.imagenes_tecnologias_1 {

    display: flex;

    justify-content: space-around;


}

.seccion_imagen {
    width: 8%;
}

@media (min-width: 320px){

    .contenedorSection {
        justify-content: space-evenly;
       
    }

    .seccion_imagen {
        width: 22%;
    }

    .titulo_section {
        width: 90%;
        height: 0%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .imagenes_tecnologias_1{
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imagenes_tecnologias{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titulo_imagenes{
        font-size: 25px;
    }
    .titulo_imagenes1{
        font-size: 25px;
    }

}

@media (min-width: 768px){
    .contenedorSection {
        justify-content: space-evenly;
    }

    .seccion_imagen {
        width: 18%;
    }

    .titulo_section {
        width: 90%;
        height: 0%;
    }
    .titulo_imagenes{
        font-size: 35px;
    }
    .titulo_imagenes1{
        font-size: 35px;
        
    }
    .titulo_section{
        font-size: 35px;
    }

}

@media (min-width: 844px){

    .titulo_section {
        width: 88%;
       

    }

    .seccion_imagen {
        width: 7%;
    }

    .titulo_imagenes {
        margin-bottom: 1%;
        font-size: 30px;
        margin-top: 32px;
    }

    .titulo_imagenes1 {
        margin: 1% 3%;
        font-size: 30px;
    }

}



@media (min-width: 1024px){


    .titulo_section {
        width: 90%;
        height: 14%;
    }

    .seccion_imagen {
        width: 14%;
    }

    .imagenes_tecnologias_1 {
        margin-bottom: 46px;
    }


}

@media (min-width: 900px){

    .contenedorSection {
        justify-content: space-around;
   
    }

    .seccion_imagen {
        width: 10%;
    }

    .titulo_section {
        width: 90%;
        height: 5%;
    }

}