* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-titulo-servicios {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 28%;
    padding-top: 60px;
    padding-bottom: 10px;
}

.titulo_Etiqueta {
    color: white;
}

.seccionServicios {
    width: 100vw;

    background-color: rgb(29, 32, 35);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;



}

.contenedorEtiqueas {
    width: 419px;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_11.jpg') center center no-repeat;
    border-radius: 10%;
    box-shadow: 0px 8px 5px 4px rgb(14, 15, 16);
    margin-left: 10px;
    margin-right: 10px;
    padding: 57px;
    margin-top: 3%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;


}

.servicios {
    width: 100vw;

    background-color: rgb(29, 32, 35);

}

.tituloEtiqueta {
    color: white;
    margin-bottom: 17px;
}

.parrafoEtiqueta {
    color: white;
    text-align: center;

}

.iconoEtiquetas {
    width: 27%;
    height: 41%;
}



.contenedorEtiqueas:hover {
    transform: scale(1.15);
    transition: 1s;
}

.iconoEtiquetas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;


}


@media (min-width: 320px) {
    .contenedorEtiqueas {
        padding: 10px;
        border-radius: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 768px) {
    .contenedorEtiqueas {
        margin-bottom: 3%;
    }

    .seccionServicios {
        padding-bottom: 40px;
    }
}

@media (min-width: 1440px){
  
.seccionServicios{
    padding-left: 90px;
    padding-right: 90px;
}
.contenedorEtiqueas{
    padding-top: 40px;
    padding-bottom: 40px;
}
}

@media (min-width: 1500px){
.servicios{
    height: 100vh;
    
}
.seccionServicios{
    padding-top: 90px;
}
.contenedorEtiqueas{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
}