.contenedor-pag-diseño {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.titulo-diseño {
    color: white;
    margin-top: 89px;
    width: 89vw;
    height: 10vh;
    display: flex;
    align-items: center;

}

.pag-diseño {
    width: 65vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    border: solid rgb(146, 210, 247) 1px;
}

.contenedor-img-diseño {
    width: 31%;
    height: 27vh;
    margin-top: 20px;
    border: solid rgb(175, 181, 184) 1px;
    border-radius:5px;
}

.imagen-diseño {
    width: 100%;
    height: 100%;

}

.btn-diseño {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #1e47e34f;
}

.btn-diseño:hover {
    background-color: transparent;
}


@media (min-width: 320px) {
    .contenedor-pag-diseño {
        justify-content: space-around;
        width: 100%;
        height: auto;
        
    }

    .titulo-diseño {
        font-size: 18px;

    }

    .contenedor-titulo {
        width: 100%;
        margin-left: 20px;
    }

    .contenedor-img-diseño {
        width: 90vw;
        height: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .pag-diseño {
        width: 88vw;
        padding: 10px;

    }



}

@media (min-width: 768px) {
    .contenedor-img-diseño {
        width: 75vw;
        

    }

    .pag-diseño {
       
        align-items: center;
    }

}



@media (min-width: 1440px) {
 

    .pag-diseño {
        width: 89vw;
      
       
    }
}

@media (min-width: 320px) and (max-width: 910px) and (orientation: landscape) and (max-height: 480px) {

    .contenedor-img-diseño{
     height: 88vh;
    } 
 }