*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo_Etiqueta{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20%;
    background-color:rgb(29,32,35) ;
    color: white;
    
    
}
.seccionServicios{
    width: 100vw;
    height: 72vh;
    background-color:rgb(29,32,35) ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.contenedorEtiqueas {
    width: 303px;
    height: 252px;
    background-color:rgb(26,29,33) ;
    border-radius: 1%;
    box-shadow: 0px 8px 5px 4px rgb(14,15,16) ;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
    
    
}
.servicios{
    width: 100vw;
    height: 90vh;
}

.tituloEtiqueta{
    color: white;
    margin-bottom: 17px;
}
.parrafoEtiqueta{
    color: white;
    text-align: center;
    
}



.contenedorEtiqueas:hover{
    transform: scale(1.15);
    transition: 1s;
}
.iconoEtiquetas{
    font-size: 20px;
    color:white;
    margin-bottom: 10px;
    
}
@media(max-width:1100px){
    .contenedorEtiqueas{
        width: 300px;
        height: 253px;
    } 
     
    .parrafoEtiqueta{
        font-size: 16px;
    }
    

}
@media(max-width:1000px){
    .contenedorEtiqueas{
        width: 266px;
        height: 222px;
    }
    .titulo_Etiqueta{
        font-size: 26px;
    }
}
@media(max-width:900px){
    .contenedorEtiqueas{
        width: 226px;
        height: 222px;
    }
    .parrafoEtiqueta{
        font-size: 13px;
    }
 
    
}
@media(max-width:800px){
    .contenedorEtiqueas{
        width: 226px;
        height: 197px;
    }
    .titulo_Etiqueta{
        height: 23%;
    }
    .seccionServicios{
        height: 70vh;
        
    }

}
@media(max-width:700px){
    .titulo_Etiqueta{
        height: 27%;
    }
    .tituloExperiencia1{
        color: white;
        font-size: 19px;
        position: relative;
        right: 28px;
    }
    .seccionServicios{
        height: 66vh;
        
    }
    .contenedorEtiqueas{
        width: 251px;
        height: 198px;
    }
  
}
@media(max-width:600px){
    .contenedorEtiqueas{
        width:207px;
        height:198px ;
    }

.titulo_Etiqueta{
    height: 28%;
}
.seccionServicios{
    padding-top: 4%;
    height: 65vh;
}
}
@media(max-width:500px){
.titulo_Etiqueta{
    font-size: 20px;
    height: 5%;
}
.contenedorEtiqueas{
    width: 228px;
    height: 138px;
}
.seccionServicios{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    height: 95%;

}

}