.contenedor-pag-Proyectos_Futuros {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
   

}
.dark-futuros {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
   

}

.titulo-Proyectos_Futuros {
    color: white;
    margin-top: 89px;
    width: 89vw;
    height: 10vh;

}

.pag-Proyectos_Futuros {
    width: 65vw;
    height: 54vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    border: solid rgb(146, 210, 247) 1px;
}

.imagen-Proyectos_Futuros {
    width: 42vw;
    margin: 10px;
    border: solid rgb(175, 181, 184) 1px;
    border-radius: 20px;
}

.btn-Proyectos_Futuros {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #1e47e34f;
}

.btn-Proyectos_Futuros:hover {
    background-color: transparent;
}


@media (min-width: 320px) {
    .contenedor-pag-Proyectos_Futuros{
        height: 86vh;
        display: flex;
        justify-content: space-around
    }
    .dark-futuros{
        height: 86vh;
        display: flex;
        justify-content: space-around
    }
    .titulo-Proyectos_Futuros{
        font-size: 20px;
    }
    .imagen-Proyectos_Futuros {
        width: 91vw;
    }
    .pag-Proyectos_Futuros{
        width: auto;
        height: auto;
    }
    .btn-Proyectos_Futuros{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .contenedor-pag-Proyectos_Futuros{
        height: 100vh;
    }
    .imagen-Proyectos_Futuros {
        width: 70vw;
    }
    .pag-Proyectos_Futuros{
        width: 80vw;
        height: 50vh;
        display: flex;
        align-items: center;
    }

}

@media (min-width: 1024px) {

    .pag-Proyectos_Futuros{
        width: 70vw;
    }
    .imagen-Proyectos_Futuros {
        width: 60vw;
    }

    .btn-Proyectos_Futuros {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .titulo-Proyectos_Futuros {
        font-size: 20px;
    }

   
}


@media (min-width: 1440px) {
    .pag-Proyectos_Futuros{
        width: 60vw;
        height: 65vh;
    }
    .imagen-Proyectos_Futuros {
        width: 48vw;
    }
    
}

@media (min-width: 320px) and (max-width: 910px) and (orientation: landscape) and (max-height: 480px) {
    .titulo-Proyectos_Futuros{
        margin-top: 80px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .contenedor-pag-Proyectos_Futuros {
        height: 153vh;
    }

    .pag-Proyectos_Futuros {
        width: auto;
        height: auto;
    }

    .imagen-Proyectos_Futuros {
        width: 68vw;
    }
   
   
}