.contenedor-pag-todos {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.titulo-todos {
    color: white;
    margin-top: 36px;
    width: 89vw;
    height: 10vh;

}

.pag-todos {
    width: 65vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    border: solid rgb(146, 210, 247) 1px;
}

.imagen-todos {
    width: 18vw;
    margin: 10px;
    border: solid rgb(175, 181, 184) 1px;
    border-radius: 20px;
}

.btn-todos {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 114px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #1e47e34f;
}

.btn-todos:hover{
    background-color: transparent;
}