
  @import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedorFooter{
    width: 100vw;
    background-color:rgb(26,29,33) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.Footer{
    width: 24%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    margin: 10px;
    
}
.tituloFooter{
    color:rgb(176,165,154);
    font-size: 13px;
    font-family: 'Pompiere', cursive;
    margin: 20px;
}
.iconosFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width:44px ;
    height: 44px;
    border-radius: 91%;
    background-color:rgb(29,32,35) ;
    color: rgb(254,254,253);
    font-size: 25px;
}
.iconosFooter:hover{
    background-color:rgb(166,175,184,0.3) ;
}


@media (min-width: 390px) and (max-width: 767px){
   .Footer{
    width: 48% ;
   } 
}