 
  @import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&family=Inter:wght@300&family=Rosario:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorFoto{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:rgb(29,32,35);
    
}
.contenedorImagen_caja{
    display: flex;
    justify-content: flex-end;         /*para dar el efecto de marco a la imagen lo resolvi con un div con position relative.No recomendable */
    align-items: center;               
    width: 44%;                        /* A su vez le imagen como el div estan adentro del contenedor imaguen_caja*/
    height:100vh ;
}

.imagenPrincipal{
    width: 28%;
    height: 69%;
    z-index: 1;
    margin-top: -4%;
}
.caja{
    width: 24%;
    height: 75%;
    border:4px solid white;
    
    position: relative;
    bottom: 2%;
    right: 15%;
}
.contenedorDescripcion{
    width: 50%;
    height: 100vh;
    
}
.descripcionMIa{
    width: 80%;
    margin-top: 5%;
}

.titulo{
    color:white;
    

}
.parrafo{
    font-family: 'Fondamento', cursive;


    
    color:white;
}
.button{
    display: flex;
    align-items: center;
    margin-top: 4px;
    min-width: 130px;
    height: 32px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
  }
  .button:hover {
    background: #fff;
    color: #212529
  }
  .botonIcono{
    color: white;
    margin-right: 10px;
  }


@media( max-width:700px){

 .contenedorFoto{
    display: flex;
    flex-direction: column;
    background-color:rgb(29,32,35);
    
 }   
 .contenedorImagen_caja{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    padding-left: 33px;
    
    
}.imagenPrincipal{
    width: 11%;
    height: 77%;
    margin-top: 0%;
    margin-bottom: 0%;
    
    
    }
    .caja{
        width: 12%;
    height: 85%;
    right: 8%;
    position: relative;
    border: 4px solid white;
    top: 0%;
    
    }
.contenedorDescripcion{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding-top: 0%;
        margin-left: 0px;
    }

    

.descripcionMIa{

    width: 90%;
    padding-right: 0%;
    margin-top: 0%;
    margin-left: 0px;
}
.titulo{
    
    font-size: 19px;
}
.parrafo{
    font-size: 11px;
}
.button{
    margin-top: -1px;
    min-width: 104px;


}
.botonIcono{
    margin-right: 0px;
}
.botonParrafo{
    font-size: 10px;
}
}
@media(max-width:600px){  
.imagenPrincipal{
    width: 12%;
}
.caja{
    width: 13%;
}
.titulo{
    font-size: 18px;
}
.parrafo{
    font-size: 10px;
}
}
@media(max-width:500px){  
    .imagenPrincipal{
        width: 14%;
    }
    .caja{
        width: 13%;
    }
    .titulo{
        font-size: 18px;
    }
    .parrafo{
        font-size: 10px;
    }
    }
    @media(max-width:400px){
        .contenedorImagen_caja{
            height: 35%;
            justify-content: flex-start;
        }
    .imagenPrincipal{
        
        width: 18%;
    }
    
    .caja{
        width: 16%;
        right: 11%;

    }
    .titulo{
        font-size: 17px;
    }
    .parrafo{
        font-size:11px ;
    }
    .button{
        min-width: 82px;
        height: 37px;
    }



     }
















@media(min-width:701px){ 
    .contenedorImagen_caja{
        align-items: flex-end;
    } 
    .imagenPrincipal{
        width: 123px;
        margin-bottom: 111px;
    }
    .caja{
        width: 106px;
        height: 73%;
        bottom: 100px;
        right: 19%;
    }
    .descripcionMIa{
        width: 100%;
        margin-top: 9%;
    }
    .titulo{
        font-size: 24px;
    }
    .parrafo{
        font-size: 13px;
    }
    
}
@media(min-width:800px){  
    .imagenPrincipal{
        margin-bottom: 107px;
    }
    .caja{
        bottom: 96px;
        right: 18%;
    }
    .descripcionMIa{
        margin-top: 9%;
    }
    
}
@media(min-width:900px){  
    
    .caja{
        
        right: 17%;
    }
    .descripcionMIa{
        margin-top: 9%;
    }
    
    
}
@media(min-width:1000px){  
    .imagenPrincipal{
        margin-bottom: 101px;
    }
    .caja{
        bottom: 90px;
        right: 15%;
    }
    .descripcionMIa{
        width: 90%;
        margin-top: 9%;
    }
    .parrafo{
        font-size: 14px;

    
}

}
@media(min-width:1100px){  
    
    .caja{
        
        right: 14%;
    }
    .descripcionMIa{
        margin-top: 9%;
    }
    
    
}
@media(min-width:1200px){  
    
    .caja{
        
        right: 13%;
    }
    .descripcionMIa{
        margin-top: 9%;
    }
    
}
@media(min-width:1300px){  
    
    .caja{
        
        right: 12%;
    }
    .descripcionMIa{
        margin-top: 9%;
    }
    
}
@media(min-width:1340px){  
    .imagenPrincipal{
        width: 25%;
        
    }
    .caja{
        width: 24%;
        right: 15%;
    }
    .descripcionMIa{
        margin-top: 11%;
    }
    
}


    

