 
  @import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&family=Inter:wght@300&family=Rosario:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorFoto{
    width: 100vw;
    height: 100vh;
    display: flex;
   justify-content: center;
  background-color: #1d2023;
    
}
.contenedorImagen_caja{
    display: flex;
    justify-content: flex-end;         /*para dar el efecto de marco a la imagen lo resolvi con un div con position relative.No recomendable */
    align-items: center;               
    width: 44%;                        /* A su vez le imagen como el div estan adentro del contenedor imaguen_caja*/
    height:100vh ;
}

.imagenPrincipal{
    width: 40%;
    z-index: 1;
    margin-top: -4%;

}
.caja{
    width: 39%;
    height: 457px;
    border:7px solid white;
    position: relative;
    bottom: 18px;
    right: 32%;
}
.contenedorDescripcion{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
.descripcionMIa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 65%;
}

.titulo{
    color:white;
    

}
.parrafo{
    


    
    color:white;
}
.button{
    display: flex;
    align-items: center;
    margin-top: 4px;
   width: 167px;
    height: 32px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
  .button:hover {
    background: #adb7eb;
    color: #212529
  }
  .botonIcono{
    color: white;
    margin-right: 10px;
  }



    

