* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

.contenedor-Proyectos {
    text-align: center;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
}
.darkProyectos{
    text-align: center;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
}

.contenedor-titulo-proyectos {
    color: white;
    height: 16%;
    display: flex;
}

.tituloProyectos {
    font-size: 30px;
}


.contenedor-link-proyectos {

    display: flex;
    justify-content: end;
    align-items: center;
}

.link-proyectos {
    width: 20%;
    display: flex;
    justify-content: space-around;

}

.contenedor-a {
    padding: 5px;
}


.menuProyecto {
    color: white;
    text-decoration: none;
}

.menuProyecto:hover {
    background-color: rgb(166, 175, 184, 0.3);

}

.contenedor-carrusel-proyectos {
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-foco {
    width: 85%;
}

.carousel {
    width: 71vw;

}

.contenedor-proyecto-imagen {
    width: auto;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.proyectoImagen {
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: flex;
    justify-content: center;

    border-radius: 34px;
    height: 43px;
    width: 43px;
}

@media(min-width:320px) {
    .contenedor-Proyectos {
        height: 86vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    .darkProyectos{
        height: 86vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .carousel-indicators [data-bs-target] {
        height: 5px;
    }

    .contenedor-titulo-proyectos {
        padding: 20px;


    }

    .tituloProyectos {
        font-size: 23px;
        margin-top: 46px;

    }

    .contenedor-link-proyectos {
        justify-content: center;
    }

    .link-proyectos {
        width: 90%;
        display: flex;
        flex-direction: column;

    }

    .contenedor-a {
        background-color: #4f4d4dab;
        margin: 3px;
        border-radius: 3px;

    }

    .contenedor-carrusel-proyectos {
        height: 40vh;
    }

    .contenedor-imagen-foco {
        display: none;
    }

    .contenedor-proyecto-imagen {
        height: 30vh;
    }

    .carousel {
        margin-top: 20px;
        width: auto;
        height: 38vh;
        margin-left: 5px;
        margin-right: 5px;

    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
}



@media(min-width:768px) {

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: block;
    }

    .contenedor-titulo-proyectos {
        display: flex;
        align-items: center;
    }

    .tituloProyectos {
        margin-left: 37px;
        margin-top: 80px;
    }

    .link-proyectos {
        margin-top: 40px;
        flex-direction: row;
    }

    .menuProyecto {
        width: 150px;
    }

    .contenedor-proyecto-imagen {
        height: 50vh;
    }

    .contenedor-carrusel-proyectos {
        height: 75vh;

    }

    .carrusel {
        width: 90vw;
        height: 60vh;
    }

    .carousel {
        height: 57vh;
    }
}





@media(min-width:1024px) {
    .tituloProyectos {
        margin-left: 71px;
    }



    .contenedor-imagen-foco {
        width: 30vw;
        display: block;
    }

    .contenedor-carrusel-proyectos {
        height: 80vh;
    }

    .carrusel {
        width: 70vw;
        height: 55vh;

    }

    .carousel {
        width: 96%;
        height: 56vh;
    }

    .contenedor-proyecto-imagen {
        height: 50vh;
    }


}

@media(min-width:1440px) {
    .contenedor-Proyectos {
        height: auto;
    }
    .contenedor-proyecto-imagen{
        height: 60vh;
   
    }

    .tituloProyectos {
        margin-left: 137px;
    }



    .proyectoImagen {
        width: 95%;
    }

    .contenedor-carrusel-proyectos {
        height: 71vh;
    }

    .carrusel {
        height: 58vh;
    }

    .carousel {

        height: 60vh;
        width: 60vw;
    }

    .carousel-indicators [data-bs-target] {
        height: 6px;
    }
}

@media(min-width:1500px) {
    .tituloProyectos {
        margin-left: 186px;
    }

    .carousel {

        height: 64vh;
    }
}



@media (min-width: 320px) and (max-width: 910px) and (orientation: landscape) and (max-height: 480px) {
    .tituloProyectos {
        margin-top: 60px;

    }




    .link-proyectos {
        flex-direction: row;


    }

    .contenedor-a {
        width: 150px;
    }

    .contenedor-carrusel-proyectos {
        height: 100vh;
    }

    .carousel {
        height: 90vh;
    }

    .carrusel {
        width: 70vw;
        height: 80vh;
    }

    .contenedor-proyecto-imagen {
        width: auto;
        height: auto;
    }

    .contenedor-Proyectos {
        height: auto;
    }


}