* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

.contenedor-Proyectos {
    text-align: center;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
        url('./img/imagen_9.jpg') center center no-repeat;
    background-size: cover;
}

.contenedor-titulo-proyectos {
    color: white;
    height: 16%;
    display: flex;
}

.tituloProyectos {
    font-size: 30px;
}


.contenedor-link-proyectos {

    display: flex;
    justify-content: end;
    align-items: center;
}

.link-proyectos {
  
    display: flex;
    justify-content: space-around;

}


.menuProyecto {
    color: white;
    width: 140px;
    padding: 6px 12px;
    border-radius: 40px;
    text-decoration: none;
    margin: 0px 8px;


}

.menuProyecto:hover {
    background-color: rgb(166, 175, 184, 0.3);

}

.contenedor-carrusel-proyectos {
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-foco {
    width: 85%;
}

.carousel {
    width: 71vw;
    margin-right: 20px;

}

.proyectoImagen {
    width: 96%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: flex;
    justify-content: center;

    border-radius: 34px;
    height: 43px;
    width: 43px;
}

@media (min-width: 320px) {
    .contenedor-Proyectos {

        display: flex;
        flex-direction: column;

    }

    .contenedor-carrusel-proyectos {

        display: flex;
        margin-bottom: 20%;
        margin-top: 10%;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }

    .imagen-foco {
        width: 85%;
        display: none;
    }

    .menuProyecto {
        color: white;
       width: 8vw;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 0px 6px;
        border-radius: 5px;
        background-color: #d5cdcd1f;
        text-decoration: none;



    }
    .contenedor-link-proyectos {
width: 79vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-proyectos {
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .contenedor-titulo-proyectos {

        display: flex;
        align-items: center;
        color: white;
        margin-top: 20%;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    .tituloProyectos {
        font-size: 25px;
    }

    .carousel {
        width: 95vw;
        margin-right: 0px;
        display: flex;
        align-items: center;



    }



   

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: flex;
        justify-content: center;

        border-radius: 34px;
        height: 0px;
        width: 0px;
    }

    .contenedor-proyecto-imagen {
        height: 25vh;
    }


}
@media (min-width: 765px){
    .contenedor-proyecto-imagen {
        height: 50vh;
    }
    .contenedor-titulo-proyectos {
        margin-top: 12%;
    }
    .contenedor-carrusel-proyectos{
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .link-proyectos {
        display: flex;
        flex-direction: row;
        
    }

   .contenedor-a{
    width: 20px;
   }

    .contenedor-carrusel-proyectos {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .contenedor-titulo-proyectos {
        height: 10vh;
        margin-top: 80px;
    }

    .tituloProyectos {
        margin-left: 21px;
    }

    .contenedor-proyecto-imagen {
        height: 40vh;
        margin-top: 32px;
        margin-bottom: 30px;
    }
    

}

@media (min-width: 1024px) {
    .link-proyectos {
        width: 70%;

    }

    .contenedor-titulo-proyectos {
        margin-top: 60px;
    }

    .contenedor-link-proyectos {
      width: 93%;
    }

    .contenedor-carrusel-proyectos {
        display: flex;
        align-items: center;
        height: 50vh;
        margin-top: 30px;

    }

    .carrusel {
        width: 80%;
        margin-right: 20px;
    }

    .contenedor-imagen-foco {
        display: flex;
        width: 50%;


    }

    .carousel {
        width: 100%;


    }



    .imagen-foco {
        display: block;
    }
}

@media (min-width: 1440px) {
    .link-proyectos {
        width: 70%;
    }

    .contenedor-titulo-proyectos {
        margin-top: 80px;
        width: 30%;
        justify-content: center;
    }

    .contenedor-link-proyectos {
   width: 96%;
    }

    .contenedor-carrusel-proyectos {
        display: flex;
        align-items: center;
        height: 70vh;
        margin-top: 30px;

    }

    .carrusel {
        width: 80%;
        margin-right: 59px;
    }

    .contenedor-imagen-foco {
        display: flex;
        width: 50%;


    }

    .carousel {
        width: 100%;
    }

    .imagen-foco {
        display: block;
    }

    .contenedor-proyecto-imagen {
        height: 60vh;
    }
}