

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedorSection{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo_section{
    font-family: 'Caveat', cursive;
    width:45% ;
    height: 14%;
    color: white;
    font-size: 34px;
}
.titulo_imagenes{
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin-bottom: 3%;
}

.titulo_imagenes1{
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 3% 3%;
}


.sectionExperiencia{
    width: 29%;
    height: 84vh;
   margin-left: 106px;
    }
    img{
        width: 13%;
    }
    .imagenes_tecnologias{
        
            display: flex;
          
            justify-content: space-around;
          
        
    }
    .imagenes_tecnologias_1{
        
        display: flex;
       
        justify-content: space-around;
        
    
} 
.seccion_imagen{
    width: 8%;
}


